.page-head
  .container
    .row
      .col-md-10
        %h4 Subscription plans
      .col-md-2

.container
  .row
    .col-md-4
      .card.text-center
        .card-body
          %h4 Base plan
          %p $9.99 / month
          = link_to 'Subscribe', subscription_plan_url(:base),
            class: 'btn btn-primary', method: :put

    .col-md-4
      .card.text-center
        .card-body
          %h4 Advance plan
          %p $14.99 / month
          = link_to 'Subscribe', subscription_plan_url(:advance),
            class: 'btn btn-primary', method: :put

    .col-md-4
      .card.text-center
        .card-body
          %h4 Premium plan
          %p $19.99 / month
          = link_to 'Subscribe', subscription_plan_url(:premium),
            class: 'btn btn-primary', method: :put
