-# = content_for :title, 'New Subscription plan'

%section.page-content
  .container

    .card
      .card-header
        .row
          .col-md-8
            %h3.card-title New Subscription
          .col-md-4
            = link_to 'Cancel', admin_subscription_plans_path, class: "btn btn-sm btn-primary"
      .card-body
        = render 'form'
