.col-md-6.nested-fields
  .card
    .card-header.solution-card-header
      = f.text_field :solution, class: 'form-control', required: true, placeholder: "Solution Answer"
      = link_to_remove_association f, class: 'btn btn-sm btn-danger' do
        %i.fa.fa-trash
