-# = content_for :title, 'All Games - Admin'
#games-admin-list

  %section.page-content
    .container


      .card
        .card-header
          .row
            .col-md-8
              %h3.card-title All Games
            .col-md-4
              = link_to 'New Game', new_admin_game_path, class: 'btn btn-sm btn-primary'
        .card-body

          / Nav tabs
          %ul.nav.nav-tabs{:role => "tablist"}
            %li.nav-item
              %a.nav-link.active{"data-toggle" => "tab", :href => "#live-game", :role => "tab"} Published Games
            %li.nav-item
              %a.nav-link{"data-toggle" => "tab", :href => "#draft-game", :role => "tab"} Draft Games

          / Tab panes
          .tab-content
            #live-game.tab-pane.active{ role: 'tabpanel' }
              .row= render @games.visible
            #draft-game.tab-pane{ role: 'tabpanel' }
              .row= render @games.where(visible: false)
