%svg{ version: "1.1", baseProfile: "full", width: "500", height: "500", xmlns: "http://www.w3.org/2000/svg" }
  %defs
    %rect#NumRect{ x: 0, y: 0, width: 30, height: 30, 'fill-opacity' => 0 }

    %g#Num-0
      %use{ 'xlink:href' => '#NumRect' }
      %text{ x: 10, y: 20 } 0
    %g#Num-1
      %use{ 'xlink:href' => '#NumRect' }
      %text{ x: 10, y: 20 } 1
    %g#Num-2
      %use{ 'xlink:href' => '#NumRect' }
      %text{ x: 10, y: 20 } 2
    %g#Num-3
      %use{ 'xlink:href' => '#NumRect' }
      %text{ x: 10, y: 20 } 3
    %g#Num-4
      %use{ 'xlink:href' => '#NumRect' }
      %text{ x: 10, y: 20 } 4
    %g#Num-5
      %use{ 'xlink:href' => '#NumRect' }
      %text{ x: 10, y: 20 } 5
    %g#Num-6
      %use{ 'xlink:href' => '#NumRect' }
      %text{ x: 10, y: 20 } 6
    %g#Num-7
      %use{ 'xlink:href' => '#NumRect' }
      %text{ x: 10, y: 20 } 7
    %g#Num-8
      %use{ 'xlink:href' => '#NumRect' }
      %text{ x: 10, y: 20 } 8
    %g#Num-9
      %use{ 'xlink:href' => '#NumRect' }
      %text{ x: 10, y: 20 } 9

    %linearGradient#NumGradient{ x2: '0%', y2: '100%' }
      %stop{ offset: '0%', 'stop-color' => '#333' }
      %stop{ offset: '50%', 'stop-color' => '#fff' }
      %stop{ offset: '100%', 'stop-color' => '#333' }

    %clipPath#LockClip
      %rect{ x: 0, y: 0, height: 269, width: 500 }
      %rect{ x: 0, y: 269, height: 62, width: 172 }
      %rect{ x: 203, y: 269, height: 62, width: 32 }
      %rect{ x: 265, y: 269, height: 62, width: 32 }
      %rect{ x: 328, y: 269, height: 62, width: 172 }
      %rect{ x: 0, y: 331, height: 169, width: 500 }

  %rect{ width: "100%", height: "100%", fill: "white" }

  %rect{ x: 0, y: 267, width: '100%', height: 67, fill: 'url(#NumGradient)' }

  %g#pdl-0.pdl{ transform: 'translate(172,285)', data: { code_idx: 0 } }
    %g.pdln-0
      %use{ 'xlink:href' => '#Num-0'}
    %g.pdln-1
      %use{ 'xlink:href' => '#Num-1'}
    %g.pdln-2
      %use{ 'xlink:href' => '#Num-2'}
    %g.pdln-3
      %use{ 'xlink:href' => '#Num-3'}
    %g.pdln-4
      %use{ 'xlink:href' => '#Num-4'}
    %g.pdln-5
      %use{ 'xlink:href' => '#Num-5'}
    %g.pdln-6
      %use{ 'xlink:href' => '#Num-6'}
    %g.pdln-7
      %use{ 'xlink:href' => '#Num-7'}
    %g.pdln-8
      %use{ 'xlink:href' => '#Num-8'}
    %g.pdln-9
      %use{ 'xlink:href' => '#Num-9'}
      
  %g#pdl-1.pdl{ transform: 'translate(235,285)', data:{ code_idx: 1 } }
    %g.pdln-0
      %use{ 'xlink:href' => '#Num-0'}
    %g.pdln-1
      %use{ 'xlink:href' => '#Num-1'}
    %g.pdln-2
      %use{ 'xlink:href' => '#Num-2'}
    %g.pdln-3
      %use{ 'xlink:href' => '#Num-3'}
    %g.pdln-4
      %use{ 'xlink:href' => '#Num-4'}
    %g.pdln-5
      %use{ 'xlink:href' => '#Num-5'}
    %g.pdln-6
      %use{ 'xlink:href' => '#Num-6'}
    %g.pdln-7
      %use{ 'xlink:href' => '#Num-7'}
    %g.pdln-8
      %use{ 'xlink:href' => '#Num-8'}
    %g.pdln-9
      %use{ 'xlink:href' => '#Num-9'}

  %g#pdl-2.pdl{ transform: 'translate(298,285)', data: { code_idx: 2 } }
    %g.pdln-0
      %use{ 'xlink:href' => '#Num-0'}
    %g.pdln-1
      %use{ 'xlink:href' => '#Num-1'}
    %g.pdln-2
      %use{ 'xlink:href' => '#Num-2'}
    %g.pdln-3
      %use{ 'xlink:href' => '#Num-3'}
    %g.pdln-4
      %use{ 'xlink:href' => '#Num-4'}
    %g.pdln-5
      %use{ 'xlink:href' => '#Num-5'}
    %g.pdln-6
      %use{ 'xlink:href' => '#Num-6'}
    %g.pdln-7
      %use{ 'xlink:href' => '#Num-7'}
    %g.pdln-8
      %use{ 'xlink:href' => '#Num-8'}
    %g.pdln-9
      %use{ 'xlink:href' => '#Num-9'}
  
  %image{ 'xlink:href' => image_url('combo-lock.png'), height: 500, width: 500, 'clip-path' => 'url(#LockClip)' }