%h1 Pages#home
%p Find me in app/views/pages/home.html.haml

.d-flex.justify-content-center
  #padlock-container
    = render 'padlock'

.d-flex.justify-content-center
  = text_field_tag :padlock_code, '000', readonly: true, autocomplete: :off