-# = content_for :title do
-#   All Games
#games-list
  %section
    #games-list-header
      .container#games-list-header-content
        %h1 All Games


    #games-list-filters
      .container
        .row
          %label
            %strong Filter by:
          -# = label_tag :difficulty_filter, 'Difficulty', class: 'mx-2'
          = select_tag :difficulty_filter, options_for_select(Game.difficulties),
            class: 'form-control mr-3', autocomplete: :off, prompt: 'Difficulty'
          -# = label_tag :age_filter, 'Grade', class: 'mx-2'
          = select_tag :age_filter, options_for_select(Grade.pluck(:name, :id)),
            prompt: 'Grade', class: 'form-control mr-3', autocomplete: :off
          = label_tag :allowed_filter, class: 'form-check-label' do
            %input#allowed_filter.form-check-input{ type: 'checkbox',
              checked: true, autocomplete: 'off' }
            &nbsp;Show only allowed games

  .page-content
    .container
      #games-user-list.row= render @games
