#games-list
  %section

    #games-list-filters.fixed-top
      %ul
        %li
          %i.fa.fa-star
          = select_tag :difficulty_filter, options_for_select(Game.difficulties), autocomplete: :off, prompt: 'Choose Difficulty Level'
        %li
          %i.fa.fa-users
          = select_tag :age_filter, options_for_select(Grade.pluck(:name, :id)),
            prompt: 'Choose Grade Level', autocomplete: :off
        %li
          = link_to 'Reset Filters', games_path, id: 'reset-filter'

  .page-content
    .container
      #games-user-list.row= render @games
