-# = content_for :title do
-#   All Games
#games-list
  %section
    -# #games-list-header
    -#   .container#games-list-header-content
    -#     %h2 Uncover clues, solve puzzles, and decode riddles in a thrilling test of wits
    -#     %h1 Are you up to the challenge?


    #games-list-filters
      %ul
        %li
          %i.fa.fa-star
          = select_tag :difficulty_filter, options_for_select(Game.difficulties), autocomplete: :off, prompt: 'Choose Difficulty Level'
        %li
          %i.fa.fa-users
          = select_tag :age_filter, options_for_select(Grade.pluck(:name, :id)),
            prompt: 'Choose Grade Level', autocomplete: :off
        %li
          -# = label_tag :allowed_filter, class: 'form-check-label' do
          -#   %input#allowed_filter.form-check-input{ type: 'checkbox',
          -#     checked: false, autocomplete: 'off' }
          -#   &nbsp;Show only allowed games
          %span
            %i.fa.fa-check-circle
            Available
          %span
            %i.fa.fa-times-circle
            Unavailable
        %li
          = link_to 'Reset Filters', games_path

  .page-content
    .container
      #games-user-list.row= render @games
