- if @step.hints.uncovered.any?
  %h3 Hints

- @step.hints.uncovered.each do |hint|
  %p= hint.description

- if hint = @step.hints.covered.first
  = button_tag "Show hint (-#{hint.value} sec)", id: 'show-hint-btn', class: 'btn btn-primary',
    data: { url: user_game_step_hint_url(@user_game, @step), hint_id: hint.id }
