-# Show carousel indicator if there is any opened hint
- if hints.any?
  :ruby
    hints_size = hints.size
    next_hint = @step.hints.covered(@user_game).first
    show_next_hint = !@answered && !@user_game.finished_at && next_hint
  %ol.carousel-indicators
    - hints.each_with_index do |_h, i|
      -# If there is no next hint set last opened hint active
      %li{ data: { target: '#hints-carousel', slide_to: i.to_s },
        class: (i + 1) == hints_size && !show_next_hint ? 'active' : '' }

    -# If has hext hint set it active
    - if show_next_hint
      %li.active{ data: { target: '#hints-carousel', slide_to: hints.size.to_s } }

.carousel-inner
  -# Show opened hints
  - hints.each_with_index do |h, i|
    .carousel-item{ class: (i + 1) == hints_size && !show_next_hint ? 'active' : '' }
      %p= h.description
      - if h.image.present?
        = image_tag h.image.url(:thumb), class: 'd-block img-fluid mx-auto mb-3'
  -# Show next hint prompt
  - if show_next_hint && hints.any?
    .carousel-item.active
      = link_to "Show hex hint (-#{next_hint.value} sec)", '#', id: 'show-hint-btn',
          data: { url: user_game_step_hint_url(user_game, step), hint_id: next_hint.id, value: next_hint.value }
