svg
  .fill-orange
    fill: $orange
  .fill-gray
    fill: $gray-600
  .stroke-orang
    stroke: $orange
  .stroke-gray
    stroke: $gray-600

@keyframes eyeInKeyhole
  0%, 8%
    transform: rotateY(0deg)
  10%, 18%
    transform: rotateY(90deg)
  20%, 88%
    transform: rotateY(0deg)
  90%, 98%
    transform: rotateY(90deg)
  100%
    transform: rotateY(0deg)

#eyelid
  cursor: pointer

g#eye-in-keyhole
  cursor: pointer
  transform-origin: 150px
  animation-name: eyeInKeyhole
  animation-duration: 5s
  animation-iteration-count: infinite
  animation-timing-function: linear

@keyframes pupilInKeyhole
  0%, 35%
    transform: translateX(0px)
  40%
    transform: translateX(10px)
  41%, 56%
    transform: translateX(8px)
  59%
    transform: translateX(10px)
  70%
    transform: translateX(-10px)
  71%, 86%
    transform: translateX(-8px)
  89%
    transform: translateX(-10px)
  94%, 100%
    transform: translateX(0px)

g#pupil-in-keyhole
  animation-name: pupilInKeyhole
  animation-duration: 5s
  animation-iteration-count: infinite

#key-in-keyhole
  transition-property: transform
  transition-duration: 0.5s

.translate-up-40
  transform: translateY(-40px)

.hint-open
  height: 0px !important

#hint-open-animation
  position: absolute
  top: 1px
  z-index: 99
  height: 190px
  overflow: hidden
  transition-property: height
  transition-duration: 1s
  transition-delay: 2.5s
  transition-timing-function: linear

@keyframes hideHintBubble
  0%
    transform: scale(1)
    opacity: 1
  25%
    transform: scale(0.9)
    opacity: 1
  50%
    transform: scale(1)
    opacity: 1
  100%
    opacity: 0

#hint-open-bubble
  transform-origin: 50% 25%

.hide-hint-bubble
  animation-name: hideHintBubble
  animation-duration: 1s
  animation-fill-mode: forwards

#flashlight
  opacity: 0
  transform-origin: 150px 85px

.flashlight-animate
  animation-name: flashing
  animation-duration: 2s
  animation-delay: 1s
  animation-fill-mode: forwards

@keyframes flashing
  0%
    transform: rotate(50deg)
    opacity: 0
  25%, 75%
    opacity: 1
  100%
    transform: rotate(-50deg)
    opacity: 0
