//************************************************
// 						Shared Game Page Styles
//************************************************
#game-show, #game-new, #game-edit
	select.form-control
		height: 40px !important



//************************************************
// 								Game View Page
//************************************************
#start-game-modal
	.modal-content
		border-radius: 10px
		.modal-body
			padding: 0 3em 3em
			h2
				margin: 0.5em 0 0.75em
			.col-6
				margin-bottom: 0.75em
				a
					color: #333
					border-bottom: 2px solid $blue
					padding-bottom: 2px
					i.fa
						color: $blue
						margin-right: 0.25em
			p
				margin: 2em 0
				color: #777
			.form-check
				font-size: 0.9em
				color: #aaa
				margin-top: 2em


#game-show
	min-height: 93vh
	background: $blue

	.card.game-details-card
		flex-direction: row
		border-radius: $borderRadius-wide
		box-shadow: $boxShadow
		border: none
		.card-content-left, .card-content-right
			width: 50%

		@media (max-width: 991px)
			flex-direction: column
			.card-content-left, .card-content-right
				width: 100%

		// Left half content
		.card-content-left
			position: relative
			border-radius: 20px 0 0 20px
			background-size: cover
			background-position: center
			background-repeat: no-repeat
			.card-content-left-overlay
				position: relative
				background: rgba(37, 17, 2, 0.8)
				padding: 2.5em 2.5em 6em
				border-radius: 20px 0 0 20px
				h2, h3
					font-family: $font-family-cursive
					font-weight: 400
					letter-spacing: 1px
				h2
					text-align: center
					color: white
					font-style: italic
					font-size: 1.75em
				hr
					margin-top: 0.5rem
					border-top: 2px solid $blue
					width: 80%
				h5
					text-align: center
					color: white
					font-size: 0.9em

				.row.game-actions
					margin: 3em 0
					justify-content: center

				h3
					text-align: center
					color: $blue
					font-style: italic
				p
					color: #eee


				.game-details-footer
					position: absolute
					bottom: 0
					left: 0
					right: 0
					width: 100%
					ul
						list-style: none
						margin: 0
						display: flex
						align-items: flex-start
						flex-wrap: nowrap
						align-items: center
						padding: 0
						li
							width: 100%
							text-align: center
							border-right: 1px solid
							border-image: linear-gradient(to top, #a3ddea, rgba(0, 0, 0, 0)) 1 100%
							padding-bottom: 1em
							&:last-child
								border-right: none
							h6
								font-size: 0.9em
								color: #a3dcea
								text-transform: uppercase
								margin: 0 0 0.25em
								i.fa
									margin-right: 0.25em
							span
								font-size: 0.9em
								color: #a3dcea

		// Right half game content
		.card-content-right
			border-radius: 0 20px 20px 0
			h3
				padding: 1em 1em 1em 2em
				background: #eee
				margin: 0
				font-size: 1.5em
				border-radius: 0 20px 0 0
				i.fa
					margin-right: 0.5em
			ul.printouts-list
				list-style: none
				padding: 1em 1em 1em 3em
				margin: 0
				background: $lightblue
				box-shadow: 0 4px 10px #5fcae6, 0 3px 6px rgba(0, 0, 0, 0.08)
				li
					display: inline-block
					width: 45%
					margin: 0.25em 0
					a
						color: white
						font-style: italic
						border-bottom: 2px solid #379cc7
						padding-bottom: 2px
						i.fa
							color: #379cc7
							margin-right: 0.25em

			.game-leaderboard
				padding: 2em 2em 2em 3em
				h3
					background: white
					padding: 0
					margin: 1em 0
				table.table tbody
					tr:first-of-type td
						color: $blue



//************************************************
// 								Game Step Page
//************************************************
#game-show
	section.game-content
		display: flex
		flex-wrap: wrap
		height: 100%

		//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		// Left 1/3 of Game Step View
		//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		article.game-content-left
			flex-basis: 40%
			background: white
			min-height: 93vh
			box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07)
			position: relative
			div.mt-2
				text-align: center
			.game-content-info
				padding: 2em 4em
				img.magnifier-icon
					height: 60px
					display: block
					margin: 0 auto 1em
				h2.step-title
					margin: 0
					text-align: center
					font-weight: bold
					color: $blue
				img.divider-orange
					margin-top: 1em
					margin-bottom: 2em
				.step-description
					text-align: center
					margin-bottom: 2em
				video
					display: block
					margin: auto
				#hint-bar
					width: 100%
					position: absolute
					left: 0
					right: 0
					bottom: 0
					height: 93vh
					transition: height 0.5s
					display: flex
					flex-direction: column
					justify-content: center
					&.hint-bar-hidden
						height: 60px
					.container
						text-align: center
						height: 100%
						background-color: $orange
						overflow-y: hidden
						.hint-title
							color: white
							font-size: 1.5em
							font-weight: bold
							line-height: 60px
							cursor: pointer

				.game-whitespace
					@media (min-width: $screen-md-min)
						padding-left: 100px
						padding-right: 100px

					@media (min-width: $screen-lg-min)
						padding-left: 150px
						padding-right: 150px

		//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		// Right 2/3 of Game Step View
		//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		article.game-content-right
			flex-basis: 60%
			min-height: 93vh
			display: flex
			flex-direction: column
			justify-content: center

			ul.image-options
				text-align: center
				list-style: none
				padding-left: 0
				li
					display: inline-block
					margin: 0 1em 0.25em
					label
						background: white
						padding: 0.625em 0.625em 0.125em
						border-radius: $borderRadius


		//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		// Responsive Game Step Styles
		//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		@media (max-width: 991px)
			article.game-content-left, article.game-content-right
				flex-basis: 100%
				min-height: auto
			article.game-content-left
				.game-content-info
					margin-top: 4em




#game-show
	#game-step
		#hints-carousel
			.carousel-inner
				.carousel-item
					display: flex
					flex-direction: column
					justify-content: center
					p
						font-size: 3em
						line-height: 1.2em
						font-family: $font-family-cursive
						font-weight: 400
						margin: 0
	.card
		&.game-show-card
			max-width: 800px
			margin: auto
			border: none
			.card-header
				text-align: center
				padding: 0
				.card-header-content
					background: rgba(0,0,0,0.5)
					border-radius: 4px 4px 0 0
					padding: 2em
					h2, span
						color: white
					span
						font-style: italic
						font-size: 1em
		.card-body
			hr
				margin: 0.5em auto
			p
				margin: 0
			.card-content-container
				background: rgba(6, 163, 204,0.8)
				text-align: center
				padding: 1em 0.5em
				h5
					font-weight: bold
					margin-bottom: 0

			.game-details
				padding: 0 2em
			.game-actions
				margin: 3em 0 1em
				text-align: center
				a.btn
					margin: 0 0.5em


//************************************************
// 						Game Result Page View
//************************************************
#game-show
	#game-result
		display: flex
		flex-direction: column
		justify-content: center
		min-height: 93vh
		#game-result-content
			text-align: center
			padding-top: 4em
			padding-bottom: 2em
			background: white
			h1
				margin: 0
				font-weight: bold
				color: $blue
				letter-spacing: 4px
			img
				max-width: 400px
			p
				font-size: 1em
				color: #999

			.game-step-subnav
				max-width: 600px
				margin: 2em auto
				.progress
					height: 40px
					font-size: 1.1em


.game-step-subnav
	position: sticky
	padding: 20px
	top: 5px
	z-index: 1000




//************************************************
// 								Admin Game List
//************************************************
#games-admin-list
	.card
		h5, p
			color: #333




//************************************************
// 								User Game List
//************************************************
#games-list
	background: $lightblue

	#games-list-filters
		background: white
		box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.5)
		ul
			list-style: none
			padding-left: 0
			margin: 0
			li
				display: inline-block
				padding: 0.5em 1em
				border-right: 1px solid #eee
				select
					height: 50px
					background-color: white
					border-color: white
					width: 200px
					&:visited, &:active, &:focus
						outline: none
				label.form-check-label
					margin-left: 1em
					line-height: 50px
					input
						margin-top: 16px
				i.fa-star, i.fa-users
					color: $blue
				span
					font-size: 1.1em
					&:first-of-type
						margin-right: 1em
					i.fa-check-circle
						color: $blue
					i.fa.fa-lock
						color: lightblue
				&:last-child
					float: right
					padding: 0
					a
						background: $orange
						display: block
						height: 66px
						color: white
						line-height: 66px
						padding: 0 1em
						transition: all 0.2s ease
						&:hover
							background: rgba($blue, 0.9)
							transition: all 0.2s ease


	#games-user-list
		margin: 2em 0

		.card
			position: relative
			box-shadow: 0 10px 14px 4px rgba(50, 50, 93, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1)
			border-radius: $borderRadius-wide
			border: none

			&.available-game
				.card-body
					h4, h4 i.fa-check-circle
						color: $lightblue
				.card-footer
					background: $lightblue

			.card-header
				min-height: 225px
				background-size: cover
				background-position: center
				background-repeat: no-repeat
				padding: 0
				border-radius: 10px 10px 0 0

				.card-header-content
					background: rgba(0,0,0,0.5)
					border-radius: 4px 4px 0 0
					padding: 1em
					min-height: 200px
					display: flex
					flex-direction: column
					justify-content: flex-end

					h3, span
						color: white

					span.game-difficulty
						float: right

			.card-body
				padding: 0
				h4, p, span
					color: #333
				h4
					font-weight: bold
					font-size: 1.5em
					padding: 1em 1em 0.75em
					margin: 0
					font-family: $font-family-cursive
					font-weight: 400
					letter-spacing: 1px
					i.fa
						margin-right: 0.5em
				hr
					margin-top: 0
					margin-bottom: 0
				.card-body-content
					padding: 1em
					p
						height: 45px
					.float-right
						margin-bottom: 1.5em

			.card-footer
				background: #333
				border-radius: 0 0 10px 10px
				ul
					list-style: none
					padding-left: 0
					margin: 0
					display: flex
					align-items: flex-start
					flex-wrap: nowrap
					li
						width: 100%
						h6
							font-size: 0.9em
							color: white
							text-transform: uppercase
							margin: 0 0 0.25em
						span
							font-size: 0.9em
							color: white




//************************************************
// 						Game New & Edit Pages
//************************************************

#game-new, #game-edit
	.card
		margin-bottom: 2em

	#game_assets
		.col-md-4
				display: inline-block
				vertical-align: top
			.card-header, .card-body
				padding: 1em
			.card-footer
				padding: 0.5em 1em
				a.btn
					float: right

	#game_steps
		.card-header, .card-body
			padding: 1em
		.card-header
			.form-group
				margin: 0
			.game-step-actions
				line-height: 64px
				text-align: right
				a.btn
					margin: 0 3px

		.nested-fields
			&.col-md-6, &.col-md-4
				display: inline-block
				vertical-align: top
			.solution-card-header
				input
					width: 85%
					display: inline-block
				a.btn
					float: right

		.solutions, .image-options, .hints
			margin-top: 2em

		.image-options
			.nested-fields
				.card-footer a
					float: right



img.game-back-img
	position: absolute

.game-footer
	position: absolute
	top: 205px
	left: 0
	right: 0
	text-align: center

section
	.container
		.page-bar
			height: 25px
			background-color: $gray-200
			margin-bottom: 2em
		h4.step-title
			text-transform: uppercase
			font-weight: bold
			color: $gray-700
		&.pattern-bottom
			background-image: image-url("pattern-question2.png")
			background-repeat: repeat-x
			background-position: bottom
		p.step-description
			font-family: $font-family-base
			font-size: 18pt
			font-style: italic
			text-align: center
.step-container
	background-color: white
	padding: 2em 1em
	margin-bottom: 2em
	position: relative
	box-shadow: $boxShadow
	border-radius: $borderRadius
	h4
		margin: 0 0 0.5em
		font-weight: 400
	.step-value
		position: absolute
		top: 10px
		right: 10px
		background: linear-gradient(90deg, #56b055, #65c7ac)
		color: white
		padding: 0.5em
		border-radius: $borderRadius

// #hint-link
	// position: relative
	// bottom: 40px
	// left: 40px
	// a
	//   color: $orange
.hint-body
	font-size: 12px
	position: relative
	color: $gray-100
	#hints-carousel
		height: 80vh
		ol.carousel-indicators
			bottom: 7px
			margin: 0
			li
				background-color: $gray-500
				&.active
					background-color: $gray-200
	.carousel-inner
		height: 93vh
		.carousel-item
			min-height: 80vh
			p
				padding: 1rem 1rem 0
				font-family: 'Cormorant Garamond'
				font-size: 12pt
				font-style: italic
			a
				top: 70px
				position: relative
				color: white
				&:hover
					color: $gray-200
.hint-footer
	height: 20px
	text-align: center
	background-color: white
	z-index: 1
	position: relative


#game-step
	.form-group
		max-width: 500px
		margin-left: auto
		margin-right: auto

	.row-v-space
		margin-bottom: 30px

	#answer-btn
		margin-top: 10px



// Result modal
#result-modal
	.modal-dialog
		display: flex
		flex-direction: column
		justify-content: center
		min-height: 93vh
		.modal-content
			background: transparent
			box-shadow: none
			border: none
			.modal-body svg
				border-radius: $borderRadius-wide
