//************************************************
// 						Shared Game Page Styles
//************************************************
#game-show, #game-new, #game-edit
	select.form-control
		height: 40px !important



//************************************************
// 								Game View Page
//************************************************
#game-show
	min-height: 93vh

	#game-show-header
		min-height: 300px
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		#game-show-header-container
			width: 100%
			min-height: 300px
			background: rgba(11,21,49,0.6)
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			h1, h5
				color: white
				margin: 0
			h1
				font-weight: bold
			.game-actions
				margin-top: 2em

	section.page-content
		.card
			ul
				list-style: none
				padding-left: 0
				margin: 0 0 1em
				display: flex
				align-items: flex-start
				flex-wrap: nowrap
				li
					width: 100%
					&:last-child
						margin-right: 0
					h6
						font-size: 1em
						color: $blue
						text-transform: uppercase
						margin: 0 0 0.25em
					span
						font-size: 1em



//************************************************
// 								Game Step Page
//************************************************
#game-show
	section.game-content
		display: flex
		flex-wrap: wrap
		height: 100%

		//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		// Left 1/3 of Game Step View
		//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		article.game-content-left
			flex-basis: 40%
			background: rgba(255,255,255,.9)
			min-height: 93vh
			box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07)
			position: relative
			.game-content-info
				padding: 2em
				h2.step-title
					margin: 0
					text-align: center
					font-weight: bold
					color: $blue
				img.divider-orange
					margin-top: 1em
					margin-bottom: 1em
				h5.step-description
					width: 80%
					margin: auto
					text-align: center
					margin-bottom: 2em
				video
					display: block
					margin: auto
				#hint-bar
					width: 100%
					position: absolute
					left: 0
					right: 0
					bottom: 0
					height: 93vh
					transition: height 0.5s
					display: flex
					flex-direction: column
					justify-content: center
					&.hint-bar-hidden
						height: 60px
					.container
						text-align: center
						height: 100%
						background-color: $orange
						overflow-y: hidden
						.hint-title
							color: white
							font-size: 1.5em
							font-weight: bold
							line-height: 60px
							cursor: pointer

				.game-whitespace
					@media (min-width: $screen-md-min)
						padding-left: 100px
						padding-right: 100px

					@media (min-width: $screen-lg-min)
						padding-left: 150px
						padding-right: 150px

		//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		// Right 2/3 of Game Step View
		//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		article.game-content-right
			flex-basis: 60%
			min-height: 93vh
			display: flex
			flex-direction: column
			justify-content: center

			ul.image-options
				text-align: center
				list-style: none
				padding-left: 0
				li
					display: inline-block
					margin: 0 1em 0.25em
					label
						background: white
						padding: 0.625em 0.625em 0.125em
						border-radius: $borderRadius


		//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		// Responsive Game Step Styles
		//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		@media (max-width: 991px)
			article.game-content-left, article.game-content-right
				flex-basis: 100%
				min-height: auto
			article.game-content-left
				.game-content-info
					margin-top: 4em




#game-show
	#game-step
		#hints-carousel
			.carousel-inner
				.carousel-item
					display: flex
					flex-direction: column
					justify-content: center
					p
						font-size: 2em
						margin: 0
	.card
		&.game-show-card
			max-width: 800px
			margin: auto
			border: none
			.card-header
				text-align: center
				padding: 0
				.card-header-content
					background: rgba(0,0,0,0.5)
					border-radius: 4px 4px 0 0
					padding: 2em
					h2, span
						color: white
					span
						font-style: italic
						font-size: 1em
		.card-body
			hr
				margin: 0.5em auto
			p
				margin: 0
			.card-content-container
				background: rgba(6, 163, 204,0.8)
				text-align: center
				padding: 1em 0.5em
				h5
					font-weight: bold
					margin-bottom: 0

			.game-details
				padding: 0 2em
			.game-actions
				margin: 3em 0 1em
				text-align: center
				a.btn
					margin: 0 0.5em


//************************************************
// 						Game Result Page View
//************************************************
#game-show
	#game-result-content
		text-align: center
		min-height: 400px
		padding-top: 4em
		padding-bottom: 2em
		h1
			margin: 0
			font-weight: bold
			color: $blue
			letter-spacing: 4px
		img
			max-width: 400px
		p
			font-size: 1em
			color: #999

		.game-step-subnav
			max-width: 600px
			margin: 2em auto
			.progress
				height: 40px
				font-size: 1.1em


.game-step-subnav
	position: sticky
	padding: 20px
	top: 5px
	z-index: 1000




//************************************************
// 								Admin Game List
//************************************************
#games-admin-list
	.card
		h5, p
			color: #333




//************************************************
// 								User Game List
//************************************************
#games-list

	// #games-list-header
	// 	min-height: 400px
	// 	background-image: image-url('games-index-bg.jpg')
	// 	background-size: cover
	// 	background-position: center
	// 	background-repeat: no-repeat
	// 	#games-list-header-content
	// 		min-height: 400px
	// 		display: flex
	// 		flex-direction: column
	// 		justify-content: center
	// 		align-items: center
	// 		h1, h2
	// 			color: white
	// 		h1
	// 			margin: 0.25em 0 0
	// 			font-size: 3em
	// 		h2
	// 			font-size: 1.25em
	// 			text-transform: uppercase
	// 			margin: 0

	#games-list-filters
		background: white
		box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.5)
		ul
			list-style: none
			padding-left: 0
			margin: 0
			li
				display: inline-block
				padding: 0.5em 1em
				border-right: 1px solid #eee
				select
					height: 50px
					background-color: white
					border-color: white
					width: 200px
					&:visited, &:active, &:focus
						outline: none
				label.form-check-label
					margin-left: 1em
					line-height: 50px
					input
						margin-top: 16px
				span
					font-size: 1.1em
					&:first-of-type
						margin-right: 1em
					i.fa-check-circle
						color: green
					i.fa.fa-lock
						color: lightblue
				&:last-child
					float: right
					padding: 0
					a
						background: $orange
						display: block
						height: 66px
						color: white
						line-height: 66px
						padding: 0 1em
						transition: all 0.2s ease
						&:hover
							background: rgba($blue, 0.9)
							transition: all 0.2s ease





	#games-user-list
		margin: 2em 0

		.card
			position: relative
			box-shadow: $boxShadow
			border-radius: $borderRadius-wide

			.game-allowed-indicator
				position: absolute
				top: 0
				left: 0
				right: 0
				margin: auto
				text-align: center
				i.fa
					background: green
					line-height: 0
					padding: 0.75em 0.25em
					font-size: 1.5em
					color: white


			.card-header
				min-height: 180px
				background-size: cover
				background-position: center
				background-repeat: no-repeat
				padding: 0
				border-radius: 10px 10px 0 0

				.card-header-content
					background: rgba(0,0,0,0.5)
					border-radius: 4px 4px 0 0
					padding: 1em
					min-height: 200px
					display: flex
					flex-direction: column
					justify-content: flex-end

					h3, span
						color: white

					span.game-difficulty
						float: right

			.card-body
				h4, p, span
					color: #333
				h4
					font-weight: bold
					font-size: 1.25em
				p
					margin-bottom: 2em
					height: 63px

			.card-footer
				ul
					list-style: none
					padding-left: 0
					margin: 0
					display: flex
					align-items: flex-start
					flex-wrap: nowrap
					li
						width: 100%
						h6
							font-size: 0.9em
							color: $blue
							text-transform: uppercase
							margin: 0 0 0.25em
						span
							font-size: 1em




//************************************************
// 						Game New & Edit Pages
//************************************************

#game-new, #game-edit
	.card
		margin-bottom: 2em

	#game_assets
		.col-md-4
				display: inline-block
				vertical-align: top
			.card-header, .card-body
				padding: 1em
			.card-footer
				padding: 0.5em 1em
				a.btn
					float: right

	#game_steps
		.card-header, .card-body
			padding: 1em
		.card-header
			.form-group
				margin: 0
			.game-step-actions
				line-height: 64px
				text-align: right
				a.btn
					margin: 0 3px

		.nested-fields
			&.col-md-6, &.col-md-4
				display: inline-block
				vertical-align: top
			.solution-card-header
				input
					width: 85%
					display: inline-block
				a.btn
					float: right

		.solutions, .image-options, .hints
			margin-top: 2em

		.image-options
			.nested-fields
				.card-footer a
					float: right



img.game-back-img
	position: absolute

.game-footer
	position: absolute
	top: 205px
	left: 0
	right: 0
	text-align: center

section
	.container
		.page-bar
			height: 25px
			background-color: $gray-200
			margin-bottom: 2em
		h4.step-title
			text-transform: uppercase
			font-weight: bold
			color: $gray-700
		&.pattern-bottom
			background-image: image-url("pattern-question2.png")
			background-repeat: repeat-x
			background-position: bottom
		p.step-description
			font-family: $font-family-base
			font-size: 18pt
			font-style: italic
			text-align: center
.step-container
	background-color: white
	padding: 2em 1em
	margin-bottom: 2em
	position: relative
	box-shadow: $boxShadow
	border-radius: $borderRadius
	h4
		margin: 0 0 0.5em
		font-weight: 400
	.step-value
		position: absolute
		top: 10px
		right: 10px
		background: linear-gradient(90deg, #56b055, #65c7ac)
		color: white
		padding: 0.5em
		border-radius: $borderRadius

// #hint-link
	// position: relative
	// bottom: 40px
	// left: 40px
	// a
	//   color: $orange
.hint-body
	font-size: 12px
	position: relative
	color: $gray-100
	#hints-carousel
		height: 80vh
		ol.carousel-indicators
			bottom: 7px
			margin: 0
			li
				background-color: $gray-500
				&.active
					background-color: $gray-200
	.carousel-inner
		height: 93vh
		.carousel-item
			min-height: 80vh
			p
				padding: 1rem 1rem 0
				font-family: 'Cormorant Garamond'
				font-size: 12pt
				font-style: italic
			a
				top: 70px
				position: relative
				color: white
				&:hover
					color: $gray-200
.hint-footer
	height: 20px
	text-align: center
	background-color: white
	z-index: 1
	position: relative


#game-step
	.form-group
		max-width: 300px
		margin-left: auto
		margin-right: auto

	.row-v-space
		margin-bottom: 30px

	#answer-btn
		margin-top: 10px
