body
  background-size: cover
  background-color: #edf0f8
  color: $gray-700
  font-family: $font-family-sans-serif

label.required::after
  content: '*'
  color: red

legend
  width: initial
  padding-left: 5px
  padding-right: 5px

p, span
  font-size: 0.9em

.form-group
  margin-bottom: 1em
.form-group
  label, em
    color: $blue
    font-size: 12pt
    margin-bottom: 0
.form-control
  box-shadow: inset 0 1px 2px rgba(0,0,0,.18)
  min-height: 40px
  height: auto
  border-radius: $borderRadius
  padding: 0.5em

select.form-control
  height: 40px !important

.btn
  text-transform: uppercase
  letter-spacing: 0.1em
  height: 40px
  line-height: 40px
  padding: 0 14px
  border-radius: $borderRadius
  &.btn-sm
    height: 35px
    line-height: 35px
    padding: 0 10px


.page-head
  background-color: white
  border-bottom: 1px solid #d1d8ea
  padding: 1.5em 0
  margin-bottom: 3em
  h4
    margin: 0
  .col-md-2
    text-align: right

.page-content
  padding: 4em 1em

a, a:hover
  text-decoration: none

table.table th
  vertical-align: top !important
  border-top: none



.card .card-header
  background-color: transparent
  padding: 1.5em
  h3
    margin: 0
  .col-md-4
    text-align: right




// Billing
#billing
  .card
    margin-bottom: 2em
