body
  background-color: #edf0f8

.pull-right
  float: right !important

nav.navbar
  height: 78px
  background: linear-gradient(90deg, #56b055, #65c7ac)
  box-shadow: 0 0 8px 4px rgba(0,0,0,0.1)
  a.navbar-brand
    color: white

  ul.nav
    a.nav-link
      font-size: 0.85em
      margin-left: 1em
      color: white
      letter-spacing: 0.5px

.page-head
  background-color: white
  border-bottom: 1px solid #d1d8ea
  padding: 1.5em 0
  margin-bottom: 3em
  h4
    margin: 0
  .col-md-2
    text-align: right

a, a:hover
  text-decoration: none

table.table th
  vertical-align: top !important


#games-admin-list
  .game-container
    background-color: white
    text-align: center
    padding: 1em 2em
    vertical-align: top
    margin-bottom: 2em
    h5
      margin: 0.5em 0 1em

  ul.nav-tabs
    margin-bottom: 1em


#game-show
  .step-container
    background-color: white
    padding: 2em 1em
    margin-bottom: 2em
    position: relative
    box-shadow: $boxShadow
    border-radius: $borderRadius
    h4
      margin: 0 0 0.5em
      font-weight: 400
    .step-value
      position: absolute
      top: 10px
      right: 10px
      background: linear-gradient(90deg, #56b055, #65c7ac)
      color: white
      padding: 0.5em
      border-radius: $borderRadius

    .hint-container
      position: relative
      height: 35px
      line-height: 35px
      padding-left: 4em
      margin-top: 2em
      span
        position: absolute
        left: 0
        top: 0
        background: linear-gradient(90deg, #56b055, #65c7ac)
        color: white
        padding: 0 0.3em
        border-radius: $borderRadius
      p
        margin: 0
