-# = content_for :title, 'New User'

#user-new
  %section.page-content
    .container

      .card
        .card-header
          .row
            .col-md-8
              %h3.card-title New User
            .col-md-4
              = link_to 'Cancel', admin_users_path, class: 'btn btn-sm btn-primary'
        .card-body
          = render 'form'
