-# = content_for :title, 'Edit Grade'

%section.page-content
  .container

    .card
      .card-header
        .row
          .col-md-8
            %h3.card-title Edit Grade
          .col-md-4
            = link_to 'Cancel', admin_grades_path, class: 'btn btn-sm btn-primary'
      .card-body
        = render 'form'
