-# = content_for :title, 'Grades'

%section.page-content
  .container

    .card
      .card-header
        .row
          .col-md-8
            %h3.card-title Grades
          .col-md-4
            = link_to 'New Grade', new_admin_grade_path, class: 'btn btn-sm btn-primary'
      .card-body
        %table.table
          %thead
            %tr
              %th Name
              %th Actions

          %tbody
            - @grades.each do |grade|
              %tr
                %td= grade.name
                %td
                  = link_to 'Edit', edit_admin_grade_path(grade)
                  = link_to 'Delete', admin_grade_path(grade), method: :delete, data: { confirm: 'Are you sure?' }
